@font-face {
    font-family: 'Invasion2000';
    src: url('./assets/font2/Invasion2000.eot');
    src: url('./assets/font2/Invasion2000.eot?#iefix') format('embedded-opentype'),
        url('./assets/font2/Invasion2000.woff2') format('woff2'),
        url('./assets/font2/Invasion2000.woff') format('woff'),
        url('./assets/font2/Invasion2000.ttf') format('truetype'),
        url('./assets/font2/Invasion2000.svg#Invasion2000') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: 'Muli', sans-serif;
    padding: 0;
    background-origin: border-box;
    margin: 0;
}

body {
    display: flex;
    height: 100vh;
    flex-flow: column;
}

.background_image {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
}

.header {
    width: 100%;
    height: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.header_title {
    /* line-height sirve para dar altura sola una linea y centrar lo que hay dentro */
    line-height: 3rem;
    width: 100%;
    text-align: center;
}

.header_title h1 {
    font-family: 'Invasion2000';
    font-size: 50px;
    font-weight: normal;
    color: orange;
    -webkit-text-stroke: 2px black;
    /* color: transparent;  */
}

.level_section {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.level_section__indicator {
    color: white;
}

.level_section__indicator p {
    font-family: 'Invasion2000';
    font-size: 3rem;
    -webkit-text-stroke: 2px black;

}

.container {
    height: inherit;
    display: flex;
    align-items: center;
}

.container_gameboard {
    position: relative;
    height: 100vh;
    width: 100vh;
    border-radius: 50%;
    /* background-color: green; */
    overflow: hidden;
    max-width: 60vh;
    max-height: 60vh;
    margin: 0 auto;
    border: 10px solid black;
    /* box-shadow: 0px 0px 68px 12px rgba(0,0,0,0.75); */
    box-shadow: 0px 0px 18px 12px rgba(0,0,0,0.75);
}


.left {
    float: left;
}

.left:hover {
    cursor: pointer;
}

.right {
    float: left;
}

.right:hover {
    cursor: pointer;
}

.color {
    width: 50%;
    height: 50%;
    display: inline-block;
}

.blue {
    background: #22A6B3;
}

.blue.light {
    background: #7ED6DF;
}

.violet {
    background: #BE2EDD;
}

.violet.light {
    background: #E056FD;
}

.orange {
    background: #F0932B;
}

.orange.light {
    background: #FFBE76;
}

.green {
    background: #6AB04C;
}

.green.light {
    background: #BADC58;
}

.btn-start {
    font-family: 'Invasion2000';
    width: 100%;
    height: 100px;
    background: #ECF0F1;
    color: black;
    font-size: 2.5rem;
    position: absolute;
    top: calc(50% - 40px);
    left: 0;
    right: 0;
    border-radius: 40px;    
    box-shadow: 0px 0px 4px 5px rgba(0,0,0,0.75);
    outline: none;
}

.btn-start:hover {
    cursor: pointer;
}

.hide {
    display: none;
}


.footer {
    display: flex;
    height: 8rem;
    margin-top: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer p {
    margin-top: 10px;
    color: white;
    font-weight: bold;
}

.social_media {
    display: flex;
}

.social_media-item {
    list-style: none;
    margin-right: 10px;
}

@media only screen and (max-width: 600px){
    .header_title h1 {
        font-size: 2.5rem;
    }
}

@media only screen and (max-width: 450px){
    .header_title h1 {
        font-size: 2.2rem;
    }

    .container_gameboard {
        height: 50vh;
    }

    .btn-start {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 350px){
    .container_gameboard {
        height: 40vh;
    }
}